@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

:root {
    --text-primary: rgba(255,255,255, 90%);
    --text-secondary: rgba(255,255,255, 75%);
    --text-black: rgba(0,0,0,90%);
    --text-accent: #d66ba0;

    --box-background: #171717;

    --hundreds: #00c172;
    --fifties: #bf5aa5;
    --misses: #e03455;

    --ur-margin: 32px;

    --hits-top: calc(16px + 18pt);
    --hits-right: calc(112px);
    --pp-top: calc(24px + 18pt + 1ch);
    --fc-pp-top: calc(38px + 18pt + 2ch);
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Dosis';
}

/* body {
    background-image: url(screenshot.jpg);
    background-size: contain;
    height: 100vh;
} */

* { 
    transition: all 0.25s ease-out;
}

#score {
    color: var(--text-primary);
    font-family: 'Space Mono';
    font-size: 18pt;
    
    position: absolute;
    top: 8px;
    right: 12px;
}

#timer {
    position: absolute;
    top: calc(16px + 18pt);
    right: 12px;
}

#accuracy {
    font-family: 'Space Mono';
    color: var(--text-primary);

    position: absolute;
    top: calc(16px + 18pt);
    right: 36px;
}

#accuracy::after {
    content: '%';
    color: var(--text-secondary);
    margin-left: 2px;
}

#current-pp {
    font-family: 'Space Mono';
    color: var(--text-accent);

    position: absolute;
    top: calc(22px + 18pt + 1ch);
    right: 12px;
}

#current-pp::after {
    content: 'pp';
    font-family: 'Dosis';
    margin-left: 2px;
}

#fc-pp {
    font-family: 'Space Mono';
    font-size: 10pt;
    color: var(--text-secondary);

    position: absolute;
    top: calc(38px + 18pt + 2ch);
    right: 12px;
}

#fc-pp::after {
    content: 'pp for FC';
    font-family: 'Dosis';
    margin-left: 2px;
}

#combo {
    color: var(--text-secondary);
    font-family: 'Space Mono';
    position: absolute;
    bottom: 8px;
    left: 12px;
}

#combo::after {
    content: 'x';
    font-family: 'Dosis';
    margin-left: 2px;
}

#bm-info {
    color: var(--text-primary);
    position: absolute;
    top: 8px;
    left: 12px;

    transition: all 0.25s ease-out;
}

#bm-id {
    color: var(--text-secondary);
    position: absolute;
    top: calc(18px + 1ch);
    left: 12px;
}

#bm-stats {
    position: absolute;
    top: calc(32px + 2ch);
    left: 12px;
}

#bm-stats div {
    /* font-size: 8pt; */
    display: inline-block;
    width: 7ch !important;
    padding: 2px 4px;
    text-align: center;
    background-color: #ffffffcc;
    color: var(--text-black);
    border-radius: 4px;
}

#bm-stats #stars {
    background-color: gold;
}

#hp {
    background-color: var(--text-primary);
    border-radius: 0 4px 4px 0;

    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 4px !important;

    transition: all 0.1s ease-out;
}

#unstable-rate {
    font-family: 'Space Mono';
    color: var(--text-primary);
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: var(--ur-margin);
    transform: translateX(-50%) !important;
}

#unstable-rate::after {
    content: 'UR';
    margin-left: 2px;
    color: var(--text-secondary);
    font-family: 'Dosis';
}

#hits {
    color: var(--text-secondary);
    display: flex;
    position: absolute;
    top: calc(14px + 18pt);
    right: calc(112px + 1ch);
    font-family: 'Space Mono';
    line-height: 24px;
    font-size: 10pt;
}

#hits > div {
    min-width: 2ch;
    border-radius: 2px;
    margin-left: 1ch;
    padding: 0 4px;
    text-align: center;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

#slider-breaks {
    border-color: transparent;
}

#slider-breaks::after {
    content: 'x SB';
    font-family: 'Dosis';
}

#hundreds {
    border-color: var(--hundreds);
}

#fifties {
    border-color: var(--fifties);
}

#misses {
    border-color: var(--misses);
}

#ranking-panel {
    background-color: var(--box-background);
    border-radius: 4px;
    box-shadow: 0px 2px 8px 0px #00000080,
                4px 8px 24px 4px #0000002f;
    color: var(--text-secondary);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    position: absolute;
    /* top: calc(50% - 40px); */
    bottom: 32px;
    left: calc(50% - 90px);

    width: 180px;
    height: 80px;

    padding: 8px;
}

#ranking-panel > p {
    margin: 0;
}